In [7]:
import pandas as pd
student_data = pd.read_csv('data_test/students_performance.csv', sep = ',')

#Информация о столбцах таблицы:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [37]:
from xmlrpc.server import SimpleXMLRPCRequestHandler
import pandas as pd
student_data = pd.read_csv('data_test/students_performance.csv', sep = ',')

#Информация о столбцах таблицы:
student_data.head()
"""gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале."""

#Данные о скольких студентах содержатся в таблице?
student_data.shape

#Каков балл по письму у студента под индексом 155?
student_data['writing score'].iloc[155] #
student_data.loc[155,'writing score']

#Сколько суммарно пропущенных значений в таблице?
#Сколько столбцов в таблице имеет тип данных object?
#Какой объём памяти (в килобайтах) занимает таблица?
student_data.info()

#Каков у студентов средний балл по математике?
round (student_data['math score'].mean())

#Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].mode()

#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
print (int (student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()))

#Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

#Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, 
#чем у студентов с льготным питанием.В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
standart_lunch_mean = student_data[student_data['lunch'] == 'standard']['math score'].mean()
free_lunch_mean = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
print (standart_lunch_mean, free_lunch_mean)

#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
round (student_data['parental level of education'].value_counts(normalize=True),2)*100

#Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла 
#по письму у студентов в расовой группе C?
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - c)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
73
70.03410852713178 58.92112676056338
6

In [39]:
import pandas as pd

citibike_data = pd.read_csv('data_test/citibike-tripdata.csv')
citibike_df = citibike_data.copy()
"""Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года 
и включает в себя следующую информацию:
starttime — время начала поездки (дата, время);
stoptime — время окончания поездки (дата, время);
start station id — идентификатор стартовой стоянки;
start station name — название стартовой стоянки;
start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
end station id — идентификатор конечной стоянки;
end station name — название конечной стоянки;
end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
bikeid — идентификатор велосипеда;
usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, 
Subscriber — подписчик с годовой арендой велосипеда);
birth year — год рождения клиента;
gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина)."""
#Сколько пропусков в столбце start station id?
citibike_df.info()
#Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
citibike_df['start station id'].mode()[0]
#Велосипед с каким идентификатором является самым популярным?
citibike_df['bikeid'].mode()[0]
#Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа 
# запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.
round (citibike_df['usertype'].value_counts(normalize=True),2)
"""mode_usertype = citibike_df['usertype'].mode()[0]
count_mode_user = citibike_df[citibike_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citibike_df.shape[0], 2))"""
#Кто больше занимается велоспортом — мужчины или женщины? 
# В ответ запишите число поездок для той группы, у которой их больше.
citibike_df['gender'].value_counts()
"""male_count = citibike_df[citibike_df['gender'] == 1].shape[0]
female_count = citibike_df[citybike_df['gender'] == 0].shape[0]
print(max([male_count, female_count]))"""
#Выберите утверждения,которые соответствуют нашим данным:
#Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
if citibike_df['start station name'].nunique() == citibike_df['end station name'].nunique():
    print (True)
else:
    print (False)
#В рассматриваемые дни минимальный возраст клиента составлял 10 лет
2018 - max (citibike_df['birth year'])
#Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, 
# является стоянка с названием "Eastern Pkwy & Washington Ave"
citibike_df['start station name'].value_counts()
#Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"
citibike_df['end station name'].mode()
#В первую очередь удалим лишнюю информацию из данных.
#В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором 
#и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?
citibike_df = citibike_df.drop (['start station id'],axis=1)
citibike_df = citibike_df.drop (['end station id'],axis=1)
citibike_df.shape[1]
"""citibike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(citiboke_df.shape[1])"""
#Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста 
# выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?
citibike_df['age'] = 2018 - citibike_df['birth year']
citibike_df = citibike_df.drop (['birth year'],axis=1)
sum (citibike_df['age'] > 60)
"""citibike_df['age'] = 2018 - citibike_df['birth year']
citibike_df.drop(['birth year'], axis=1, inplace=True)
print(citibike_df[citibike_df['age'] > 60].shape[0])"""
#Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания 
# поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'])
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'])
citibike_df['trip_duration'] = citibike_df['stoptime'] - citibike_df['starttime']
print (citibike_df['trip_duration'].iloc[3])  #citibike_df.loc[3,'trip_duration']
#Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или 
# воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.
citibike_df['weekend_starttime'] = citibike_df['starttime'].dt.day
weekend_starttime = citibike_df[(citibike_df['weekend_starttime'] == 1) | (citibike_df['weekend_starttime'] == 2)].shape[0]
print (weekend_starttime)
"""weekday = citibike_df['starttime'].dt.dayofweek
citibike_df['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
citibike_df['weekend'].sum()"""
#Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. 
# Условимся, что:
#поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
#поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) 
# до 12 (включительно) часов;
#поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) 
# до 18 (включительно) часов;
#поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) 
# до 23 часов (включительно).
#Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, 
# за представленный в данных период времени? Ответ округлите до целых.
"""citi_daytime = citibike_df['starttime'].dt.time
#print (citi_daytime.iloc[00:00:27])
citi_daytime = citi_daytime.apply (lambda x: 'night' if x <= 06:00:00 else x)"""

def get_per_day(time):
    if 0 <= time <= 6:
        return 'night'
    if 6 < time <= 12:
        return 'morning'
    if 12 < time <= 18:
        return 'day'
    if 18 < time <= 23:
        return 'evening'
    else:
        return 'else'

citibike_df['daytime'] = citibike_df['starttime'].dt.hour.apply(get_per_day)
a = citibike_df[citibike_df['daytime'] == 'day'].shape[0]
b = citibike_df[citibike_df['daytime'] == 'night'].shape[0]
print (round (a/b))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB
False
0 days 00:07:16.837000
115135
9

In [1]:
import pandas as pd
melb_data = pd.read_csv ('data_test/melb_data.csv')
melb_df = melb_data.copy()
melb_df.head(8)
def get_street_type(address):
    exclude_list = ['N','S','W','E']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list [-2]
    return street_type

street_types = melb_df['Address'].apply(get_street_type)
street_types.value_counts()
refind_str_types = street_types.apply(lambda x: "Bvd" if x == 'Boulevard' else x)
refind_str_types = street_types.apply(lambda x: "Pde" if x == 'Parade' else x)
refind_str_types = street_types.apply(lambda x: "Av" if x == 'Avenue' else x)
refind_str_types.value_counts()

St           8012
Rd           2825
Ct            612
Dr            447
Av            361
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Esp             2
Crofts          2
Qy              1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Gra             1
Eyrie           1
Glade           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Res             1
Cove            1
Nook            1
Corso           1
Name: Address, dtype: int64