In [7]:
import pandas as pd
student_data = pd.read_csv('data_test/students_performance.csv', sep = ',')

#Информация о столбцах таблицы:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [37]:
from xmlrpc.server import SimpleXMLRPCRequestHandler
import pandas as pd
student_data = pd.read_csv('data_test/students_performance.csv', sep = ',')

#Информация о столбцах таблицы:
student_data.head()
"""gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале."""

#Данные о скольких студентах содержатся в таблице?
student_data.shape

#Каков балл по письму у студента под индексом 155?
student_data['writing score'].iloc[155] #
student_data.loc[155,'writing score']

#Сколько суммарно пропущенных значений в таблице?
#Сколько столбцов в таблице имеет тип данных object?
#Какой объём памяти (в килобайтах) занимает таблица?
student_data.info()

#Каков у студентов средний балл по математике?
round (student_data['math score'].mean())

#Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].mode()

#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
print (int (student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()))

#Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

#Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, 
#чем у студентов с льготным питанием.В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
standart_lunch_mean = student_data[student_data['lunch'] == 'standard']['math score'].mean()
free_lunch_mean = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
print (standart_lunch_mean, free_lunch_mean)

#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
round (student_data['parental level of education'].value_counts(normalize=True),2)*100

#Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла 
#по письму у студентов в расовой группе C?
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - c)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
73
70.03410852713178 58.92112676056338
6

In [39]:
import pandas as pd

citibike_data = pd.read_csv('data_test/citibike-tripdata.csv')
citibike_df = citibike_data.copy()
"""Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года 
и включает в себя следующую информацию:
starttime — время начала поездки (дата, время);
stoptime — время окончания поездки (дата, время);
start station id — идентификатор стартовой стоянки;
start station name — название стартовой стоянки;
start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
end station id — идентификатор конечной стоянки;
end station name — название конечной стоянки;
end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
bikeid — идентификатор велосипеда;
usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, 
Subscriber — подписчик с годовой арендой велосипеда);
birth year — год рождения клиента;
gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина)."""
#Сколько пропусков в столбце start station id?
citibike_df.info()
#Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
citibike_df['start station id'].mode()[0]
#Велосипед с каким идентификатором является самым популярным?
citibike_df['bikeid'].mode()[0]
#Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа 
# запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.
round (citibike_df['usertype'].value_counts(normalize=True),2)
"""mode_usertype = citibike_df['usertype'].mode()[0]
count_mode_user = citibike_df[citibike_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citibike_df.shape[0], 2))"""
#Кто больше занимается велоспортом — мужчины или женщины? 
# В ответ запишите число поездок для той группы, у которой их больше.
citibike_df['gender'].value_counts()
"""male_count = citibike_df[citibike_df['gender'] == 1].shape[0]
female_count = citibike_df[citybike_df['gender'] == 0].shape[0]
print(max([male_count, female_count]))"""
#Выберите утверждения,которые соответствуют нашим данным:
#Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
if citibike_df['start station name'].nunique() == citibike_df['end station name'].nunique():
    print (True)
else:
    print (False)
#В рассматриваемые дни минимальный возраст клиента составлял 10 лет
2018 - max (citibike_df['birth year'])
#Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, 
# является стоянка с названием "Eastern Pkwy & Washington Ave"
citibike_df['start station name'].value_counts()
#Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"
citibike_df['end station name'].mode()
#В первую очередь удалим лишнюю информацию из данных.
#В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором 
#и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?
citibike_df = citibike_df.drop (['start station id'],axis=1)
citibike_df = citibike_df.drop (['end station id'],axis=1)
citibike_df.shape[1]
"""citibike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(citiboke_df.shape[1])"""
#Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста 
# выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?
citibike_df['age'] = 2018 - citibike_df['birth year']
citibike_df = citibike_df.drop (['birth year'],axis=1)
sum (citibike_df['age'] > 60)
"""citibike_df['age'] = 2018 - citibike_df['birth year']
citibike_df.drop(['birth year'], axis=1, inplace=True)
print(citibike_df[citibike_df['age'] > 60].shape[0])"""
#Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания 
# поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'])
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'])
citibike_df['trip_duration'] = citibike_df['stoptime'] - citibike_df['starttime']
print (citibike_df['trip_duration'].iloc[3])  #citibike_df.loc[3,'trip_duration']
#Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или 
# воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.
citibike_df['weekend_starttime'] = citibike_df['starttime'].dt.day
weekend_starttime = citibike_df[(citibike_df['weekend_starttime'] == 1) | (citibike_df['weekend_starttime'] == 2)].shape[0]
print (weekend_starttime)
"""weekday = citibike_df['starttime'].dt.dayofweek
citibike_df['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
citibike_df['weekend'].sum()"""
#Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. 
# Условимся, что:
#поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
#поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) 
# до 12 (включительно) часов;
#поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) 
# до 18 (включительно) часов;
#поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) 
# до 23 часов (включительно).
#Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, 
# за представленный в данных период времени? Ответ округлите до целых.
"""citi_daytime = citibike_df['starttime'].dt.time
#print (citi_daytime.iloc[00:00:27])
citi_daytime = citi_daytime.apply (lambda x: 'night' if x <= 06:00:00 else x)"""

def get_per_day(time):
    if 0 <= time <= 6:
        return 'night'
    if 6 < time <= 12:
        return 'morning'
    if 12 < time <= 18:
        return 'day'
    if 18 < time <= 23:
        return 'evening'
    else:
        return 'else'

citibike_df['daytime'] = citibike_df['starttime'].dt.hour.apply(get_per_day)
a = citibike_df[citibike_df['daytime'] == 'day'].shape[0]
b = citibike_df[citibike_df['daytime'] == 'night'].shape[0]
print (round (a/b))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB
False
0 days 00:07:16.837000
115135
9

In [1]:
import pandas as pd
melb_data = pd.read_csv ('data_test/melb_data.csv')
melb_df = melb_data.copy()
melb_df.head(8)
def get_street_type(address):
    exclude_list = ['N','S','W','E']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list [-2]
    return street_type

street_types = melb_df['Address'].apply(get_street_type)
street_types.value_counts()
refind_str_types = street_types.apply(lambda x: "Bvd" if x == 'Boulevard' else x)
refind_str_types = street_types.apply(lambda x: "Pde" if x == 'Parade' else x)
refind_str_types = street_types.apply(lambda x: "Av" if x == 'Avenue' else x)
refind_str_types.value_counts()

KeyError: 'Address'

In [16]:
import pandas as pd

melb_df = pd.read_csv('data_test/melb_data_fe.csv')

melb_df.sort_values(
    by=['Date', 'Regionname', 'Rooms'],
    ascending=[True, True, False],
    ignore_index=True
).loc[::10, ['Date', 'Regionname', 'Rooms']].head(10)

melb_df.groupby(by='Type')['Price'].mean()
#Remoteness by regions
melb_df.groupby(by='Regionname', as_index=False)['Distance'].min().sort_values(
    by='Distance', ascending=False)
#to calculate several aggregating methods, we will use the method agg()
melb_df.groupby('MonthSale')['Price'].agg(
    ['count','mean','max']
).sort_values(by='count', ascending=False)
#method agg() support use of another functions
melb_df.groupby('Regionname')['SellerG'].agg(
    ['nunique', set]
)

#summary tables defaults to average
melb_df.pivot_table(
    values='Price',
    index='Rooms',
    columns='Type',
    fill_value=0
).round(2)
#for several parameters need to use argument aggfunc=['with list of agregated functions']
melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['mean','median'],
    fill_value=0
)               
#summary tables allow to consider the dependence on a larger number of signs, 
#we can pass a list of features to a parameter "index" or "columns"
melb_df.pivot_table(
    values='Price',
    index=['Method', 'Type'],
    columns='Regionname',
    aggfunc='median',
    fill_value=0
)

Regionname        Eastern Metropolitan  Eastern Victoria  \
Method Type
PI     house                   1244000            780000
       townhouse                760000                 0
       unit                     650000                 0
S      house                   1127000            675000
       townhouse                828000                 0
       unit                     645750            492000
SA     house                    932500            950000
       townhouse                807500                 0
       unit                          0                 0
SP     house                   1050000            672500
       townhouse                910000                 0
       unit                     515000            400000
VB     house                   1100000            712500
       townhouse                892500                 0
       unit                     500000                 0

Regionname        Northern Metropolitan  Northern Victoria  \
Method Type
PI     house                     900000             500000
       townhouse                 632500                  0
       unit                      410000                  0
S      house                     920000             555000
       townhouse                 750000                  0
       unit                      525500                  0
SA     house                     817500             540000
       townhouse                 425000                  0
       unit                      616000                  0
SP     house                     900000             521000
       townhouse                 690000                  0
       unit                      470000                  0
VB     house                    1050000             690000
       townhouse                 640000                  0
       unit                      450000                  0

Regionname        South-Eastern Metropolitan  Southern Metropolitan  \
Method Type
PI     house                          865000                1725000
       townhouse                     1190000                1055000
       unit                           525000                 571250
S      house                          883300                1611000
       townhouse                      875000                1135000
       unit                           606000                 655000
SA     house                          880000                1390000
       townhouse                           0                1141000
       unit                                0                 580000
SP     house                          770000                1521750
       townhouse                      800000                1162500
       unit                           601000                 550000
VB     house                          850000                1800000
       townhouse                           0                1250000
       unit                           700000                 500000

Regionname        Western Metropolitan  Western Victoria
Method Type
PI     house                    870000            630000
       townhouse                670000                 0
       unit                     360000                 0
S      house                    870000            397500
       townhouse                729000                 0
       unit                     489000                 0
SA     house                    772500                 0
       townhouse                467500                 0
       unit                     571000                 0
SP     house                    865000            360000
       townhouse                702500                 0
       unit                     460000                 0
VB     house                    880000                 0
       townhouse                689500                 0
       unit                     420000                 0

In [2]:
import pandas as pd

movies_df = pd.read_csv('data_test/ratings_movies.csv')
print (movies_df.head())
#Для решения задач нам понадобится выделить из признака title год выпуска фильма. 
#Для этого напишем функцию get_year_release(arg).
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

#Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
#У скольких фильмов не указан год их выпуска?
movies_df['year_release'] = movies_df['title'].apply(get_year_release)
#Для начала обратимся к методам из библиотеки pandas, которые позволяют быстро определить наличие
#элементов NaN в структурах. Если таблица небольшая, то можно использовать библиотечный метод isnull
movies_df['year_release'].isnull().sum()
#Отсутствующие данные объектов можно заменить на конкретные числовые значения, для этого можно
#использовать метод fillna()
movies_df.fillna(0)
#movies_df['year_release'] = movies_df['year_release'].astype('int32')
#movies_df.info()
#Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
#В качестве ответа запишите название этого фильма без указания года его выпуска.
#movies_df[movies_df['year_release'] == 1999]['rating'].mean()
mask = movies_df['year_release'] == 1999
films = movies_df[mask].groupby('title')['rating'].mean().sort_values()
#films.iloc[0].index[0]#how to get film title?!

#Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
movies_df[movies_df['year_release'] == 2010].groupby('genres')['rating'].mean().sort_values()
#Какой пользователь(userId)посмотрел наибольшее количество различных(уникальных)комбинаций жанров(genres)фильмов?
movies_df.groupby('userId')['genres'].nunique().sort_values(ascending=False)
#Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
#Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку),
#можно воспользоваться методом agg() на сгруппированных данных.
movies_df.groupby('userId')['rating'].agg(
    ['count','mean']
).sort_values(['count', 'mean'], ascending=[True, False])
#Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу
#rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
mask = movies_df['year_release'] == 2018
grouped = movies_df[mask].groupby('genres')['rating'].agg(
    ['mean','count']
).sort_values(by='mean', ascending=False)
grouped[grouped['count'] > 10]
#Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая
#иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра.
#movies_df['date'] = pd.to_datetime(movies_df['date'])
movies_df['year_rating'] = pd.to_datetime(movies_df['date']).dt.year
piv_movie = movies_df.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    fill_value=0
)
piv_movie
#За весь период (с 1996 по 2018 год) сочетание жанров Action|Adventure ни разу не получало среднюю оценку ниже 3.
piv_movie['Action|Adventure'].loc[1996:2018] >= 3
#B Наилучшую оценку жанр Action|Adventure|Animation|Children|Comedy|IMAX получил в 2010 году.
filtered = piv_movie['Action|Adventure|Animation|Children|Comedy|IMAX'][2010]
max(piv_movie['Action|Adventure|Animation|Children|Comedy|IMAX']) == filtered
#Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery.
max(piv_movie.loc[2018]) == piv_movie.loc[2018]['Animation|Children|Mystery']
#Для жанра Comedy прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018).
piv_movie['Comedy'].loc[1996:2018].sort_values(ascending=False)

   Unnamed: 0  userId  movieId  rating                 date  \
0           0       1        1     4.0  2000-07-30 18:45:03
1           1       1        3     4.0  2000-07-30 18:20:47
2           2       1        6     4.0  2000-07-30 18:37:04
3           3       1       47     5.0  2000-07-30 19:03:35
4           4       1       50     5.0  2000-07-30 18:48:51

                         title                                       genres
0             Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1      Grumpier Old Men (1995)                               Comedy|Romance
2                  Heat (1995)                        Action|Crime|Thriller
3  Seven (a.k.a. Se7en) (1995)                             Mystery|Thriller
4   Usual Suspects, The (1995)                       Crime|Mystery|Thriller

year_rating
1999    3.606061
2013    3.489474
2012    3.478477
2008    3.426667
1997    3.409091
2016    3.373431
2004    3.356877
2006    3.347534
2001    3.318408
2009    3.273292
2014    3.271429
2011    3.232877
1996    3.228571
2002    3.198556
2010    3.179825
2000    3.141291
2018    3.121296
2003    3.120066
2015    3.106183
1998    3.000000
2005    2.963325
2007    2.928187
2017    2.852668
Name: Comedy, dtype: float64

In [15]:
import pandas as pd

orders_df = pd.read_csv('data_test/orders.csv')
orders_df
product_df = pd.read_csv('data_test/products.csv')
 


















"""#Объедините заданные таблицы в таблицу orders_products, чтобы в результирующей таблице оказалась информация
#обо всех заказах, но не оказалось информации о продуктах, на которых заказов ещё не поступало.
orders_products = orders_df.merge(
    product_df, 
    left_on='ID товара',
    right_on='Product_ID',
    how='left')
orders_products.tail(1)['Order ID']
#На какой товар была произведена отмена?
#В качестве ответа запишите название этого товара (Name).
orders_products[orders_products['Отменен'] == 'Да']['Name']
#Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?
#В ответ запишите идентификатор этого покупателя (ID Покупателя). Прибыль состоит только из оплаченных заказов
#и рассчитывается как количество купленного товара, умноженное на его цену
orders_products['Profit'] = orders_products['Price'] * orders_products['Количество'] 
orders_products[orders_products['Оплачен'] == 'Да'].groupby('ID Покупателя')['Profit'].sum().sort_values(ascending=False)"""

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2

In [47]:
import re
#Сначала попробуем вытащить каждый символ (используя .)
result = re.findall(r'.', 'AV is largest Analytics community of India')
result
#Для того, чтобы в конечный результат не попал пробел, используем вместо . \w.
result = re.findall(r'\w', 'AV is largest Analytics community of India')
result
#Теперь попробуем достать каждое слово (используя * или +)
result = re.findall(r'\w*', 'AV is largest Analytics community of India')
result
#И снова в результат попали пробелы, так как * означает «ноль или более символов». 
#Для того, чтобы их убрать, используем +:
result = re.findall(r'\w+', 'AV is largest Analytics community of India')
result
#Теперь вытащим первое слово, используя ^:
result = re.findall(r'^\w+', 'AV is largest Analytics community of India')
result
#Если мы используем $ вместо ^, то мы получим последнее слово, а не первое:
result = re.findall(r'\w+$', 'AV is largest Analytics community of India')
result
"""Вернуть первые два символа каждого слова"""
#Вариант 1: используя \w, вытащить два последовательных символа, кроме пробельных, из каждого слова:
result = re.findall(r'\w\w', 'AV is largest Analytics community of India')
result
#Вариант 2: вытащить два последовательных символа, используя символ границы слова (\b):
result = re.findall(r'\b\w.', 'AV is largest Analytics community of India')
result
"""Вернуть домены из списка email-адресов"""
#Сначала вернём все символы после «@»:
result = re.findall(r'@\w+',
            'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
result
#Как видим, части «.com», «.in» и т. д. не попали в результат. Изменим наш код:
result = re.findall(r'@\w+.\w+',
            'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
result
#Второй вариант — вытащить только домен верхнего уровня, используя группировку — ( ):
result = re.findall(r'@\w+.(\w+)',
            'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
result
"""Извлечь дату из строки"""
#Используем \d для извлечения цифр.
result = re.findall(r'\d{2}-\d{2}-\d{4}',
            'Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
result
#Для извлечения только года нам опять помогут скобки:
result = re.findall(r'\d{2}-\d{2}-(\d{4})',
            'Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
result
"""Извлечь слова, начинающиеся на гласную"""
#Для начала вернем все слова:
result = re.findall(r'\w+', 'AV is largest Analytics community of India')
result
#А теперь — только те, которые начинаются на определенные буквы (используя []):
result = re.findall(r'[aeiouAEIOU]\w+', 'AV is largest Analytics community of India')
result
#Выше мы видим обрезанные слова «argest» и «ommunity». Для того, чтобы убрать их,
#используем \b для обозначения границы слова:
result = re.findall(r'\b[aeiouAEIOU]\w+', 'AV is largest Analytics community of India')
result
#Также мы можем использовать ^ внутри квадратных скобок для инвертирования группы:
result = re.findall(r'\b[^aeiouAEIOU]\w+', 'AV is largest Analytics community of India')
result
#В результат попали слова, «начинающиеся» с пробела.
#Уберем их, включив пробел в диапазон в квадратных скобках:
result = re.findall(r'\b[^aeiouAEIOU ]\w+', 'AV is largest Analytics community of India')
result
"""Проверить формат телефонного номера"""
#Номер должен быть длиной 10 знаков и начинаться с 8 или 9. Есть список телефонных номеров,
#и нужно проверить их, используя регулярки в Python:
li = ['9999999999', '999999-999', '99999x9999']

for val in li:
    if re.match(r'[8-9]{1}[0-9]{9}', val) and len(val) == 10:
        print ('yes')
    else:
        print ('no')

"""Разбить строку по нескольким разделителям"""
#Возможное решение:
line = 'asdf fjdk;afed,fjek,asdf,foo' # String has multiple delimiters (";",","," ").
result = re.split(r'[;,\s]', line)
result
#Также мы можем использовать метод re.sub() для замены всех разделителей пробелами:
line = 'asdf fjdk;afed,fjek,asdf,foo'
result = re.sub(r'[;,\s]',' ', line)
result
"""Извлечь информацию из html-файла"""
#Допустим, нужно извлечь информацию из html-файла, заключенную между <td> и </td>, кроме первого
#столбца с номером. Также будем считать, что html-код содержится в строке.
#Пример содержимого html-файла:
test_str = '1NoahEmma2LiamOlivia3MasonSophia4JacobIsabella5WilliamAva6EthanMia7MichaelEmily'
#С помощью регулярных выражений в Python это можно решить так (если поместить содержимое
#файла в переменную test_str):
result = re.findall(r'\d([A-Z][A-Za-z]+)([A-Z][A-Za-z]+)', test_str)
result
"""Не нашел в статье информацию по моменту с методом findall, используя который если вхождения
пересекаются, метод findall не возвращает второе вхождение, так как часть него включает часть 
первого вхождения. Пример: по паттерну условно подходят пары слов со словами под номерами 5и6 и
6и7,метод возвращает только пару слов 5и6, игнорируя пару 6и7, после чего дальше идёт по строке.
Есть ли какая возможность методом re обойти данный момент?

Можно использовать стороннюю библиотеку — regex, которая умеет работать в режиме overlapping=True.

Помогите, пожалуйста. Не могу нормально распарсить строку. Допустим, есть строка “field : 
test@gmail.com ; field : test2@gmail.com ; field : test3@gmail.com” Грубо говоря, мне нужно
получить две переменные, чтобы в первой было “field”, а в другой “test@gmail.com” .

модернизировал регулярку Влада: import re string = "field1:test@gmail.com , field2:test2@gmail.com,
field3:test3@gmail.com" result3 = re.findall(r'(\w+)\W+(\w+@\w+.\w+)', string) print(result3)

import re result = re.findall(r'(\w+@\w+.\w+)',"field : test@gmail.com , field : test2@gmail.com ,
field : test3@gmail.com") print(result) result2 =re.findall(r'(\w+)\W+\w+@\w+.\w+',"field :
test@gmail.com , field : test2@gmail.com , field : test3@gmail.com") print(result2)

А как можно, к примеру, вывести все числа, от 0 до 11 включительно?
r'[01]{,2}"""

yes
no
no

[('Noah', 'Emma'),
 ('Liam', 'Olivia'),
 ('Mason', 'Sophia'),
 ('Jacob', 'Isabella'),
 ('William', 'Ava'),
 ('Ethan', 'Mia'),
 ('Michael', 'Emily')]